@media (max-width: 1760px) {
    .services__slider {
        max-width: 100%;
    }

    .stages__list {
        padding: 0 100px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .stages__item {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% / 12 * 4 - 20px);
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }

    .title1 {
        font-size: 61px;
    }

    .subtitle {
        font-size: 28px;
    }

    .menu__item:not(:last-child) {
        margin-right: 54px;
    }

    .header__menu {
        margin-left: 50px;
        padding-left: 50px;
    }

    .banner {
        background-position: top 5px right;
    }

    .banner__content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .banner__inf {
        max-width: 420px;
    }

    .banner__subtitle {
        margin-bottom: 40px;
    }

    .banner__btn {
        margin-top: 62px;
    }

    .services__content {
        padding-left: 100px;
    }

    .stages__content {
        padding-left: 100px;
    }

    .stage__text {
        padding-left: 30px;
        padding-right: 16px;
    }

    .about__left {
        padding-left: 100px;
        margin-right: 20px;
    }

    .about__img-box {
        flex-basis: 580px;
    }

    .about__right {
        padding-right: 100px;
    }

    .about__list {
        padding-top: 45px;
        margin-left: 0;
        margin-right: 0;
    }

    .about__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .clients__title {
        max-width: 390px;
    }

    .clients__main {
        margin-top: 55px;
    }

    .message__content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .callback__content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .callback__main {
        margin-top: 85px;
    }

    .callback__inf {
        flex-basis: 380px;
    }

    .callback-form__privacy {
        max-width: 380px;
    }

    .callback-form__submit {
        margin-top: 55px;
    }
}

@media (max-width: 1140px) {
    .container {
        max-width: 810px;
    }

    .btn {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        padding: 0 28px;
    }

    .up-btn {
        font-size: 13px;
    }

    .title1 {
        font-size: 47px;
    }

    .title2 {
        font-size: 37px;
    }

    .title3 {
        font-size: 25px;
    }

    .subtitle {
        font-size: 22px;
    }

    .menu {
        position: relative;
        margin-left: 30px;
        z-index: 3;
    }

    .menu:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }

    .menu__toggle {
        display: flex;
    }

    .menu__list {
        position: fixed;
        z-index: 8;
        right: 0;
        top: 0;
        justify-content: flex-start;
        flex-direction: column;
        padding: 25px 15px 0;
        width: 80vw;
        max-width: 280px;
        height: 100%;
        background-color: #fff;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        overflow-y: auto;
    }

    .menu__item {
        margin: 15px 0;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
    }

    .menu__item_has-children .menu__link {
        padding-right: 21px;
    }

    .menu__item_has-children .menu__link:after {
        top: 9px;
        right: 0;
        transform: translateY(0);
    }

    .menu__item_has-children:hover .menu__sublist {
        display: none;
    }

    .menu__item_has-children.menu__item_active .menu__link:after {
        transform: translateY(0) rotate(180deg);
    }

    .menu__item_has-children.menu__item_active .menu__sublist {
        display: block;
    }

    .menu__link {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    .menu__sublist {
        position: static;
        padding-top: 10px;
    }

    .menu__sublink {
        padding-left: 0;
    }

    .menu__sublink:hover {
        background-color: #fff;
    }

    .menu__subitem {
        box-shadow: none;
    }

    .menu_active:before {
        visibility: visible;
        opacity: 1;
    }

    .menu_active .menu__list {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .menu_active .menu__close {
        display: inline-block;
    }

    .header__content {
        padding: 35px 0;
    }

    .header__menu {
        margin-left: 28px;
        padding-left: 0;
        border-left: none;
    }

    .index__stages {
        margin-top: 100px;
    }

    .index__clients {
        margin-top: 80px;
    }

    .index__message {
        margin-top: 100px;
    }

    .index__callback {
        margin: 55px 0 80px;
    }

    .banner {
        background-position: top 25px right -25px;
    }

    .banner__content {
        padding: 0;
    }

    .banner__inf {
        max-width: 350px;
        margin-right: 10px;
    }

    .banner__subtitle {
        margin-bottom: 45px;
    }

    .banner__btn {
        margin-top: 45px;
    }

    .services__content {
        padding-left: 0;
    }

    .service {
        padding-bottom: 30px;
    }

    .service__img-box {
        height: 45px;
    }

    .service__name {
        font-size: 15px;
    }

    .stages {
        padding: 80px 0;
    }

    .stages__content {
        padding-left: 0;
    }

    .stages__list {
        padding-left: 160px;
        padding-right: 0;
        margin-left: -6px;
        margin-right: -6px;
    }

    .stages__item {
        margin-left: 6px;
        margin-right: 6px;
        width: calc(50% - 12px);
    }

    .stage__title {
        margin-bottom: 30px;
    }

    .stage__text {
        font-size: 15px;
    }

    .about__content {
        padding: 55px 0 80px;
    }

    .about__left {
        flex-basis: 310px;
        padding-left: 0;
        margin-right: 10px;
    }

    .about__right {
        padding-right: 0;
    }

    .about__text {
        font-size: 21px;
    }

    .clients__content {
        padding: 0;
    }

    .clients__title {
        max-width: 100%;
    }

    .clients__main {
        padding-left: 90px;
        padding-right: 0;
    }

    .message__content {
        padding: 45px 0;
    }

    .callback__content {
        padding: 0;
    }

    .callback__main {
        margin-top: 65px;
    }

    .callback__subtitle,
    .callback__link {
        font-size: 21px;
    }

    .callback__social-links {
        margin-top: 45px;
    }

    .callback-form__group:not(:first-child) {
        margin-top: 40px;
    }

    .callback-form__group_area:not(:first-child) {
        margin-top: 75px;
    }

    .callback-form__fields {
        flex-direction: column;
    }

    .callback-form__field:not(:first-child) {
        margin-top: 40px;
    }

    .footer {
        padding-top: 27px;
    }

    .footer__menu-item:not(:last-child) {
        margin-right: 28px;
    }

    .footer__menu-link {
        font-size: 13px;
    }
}

@media (max-width: 840px) {
    .services__slider {
        margin: -10px;
        padding: 10px 10px 65px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 30px;
    }

    .title1 {
        font-size: 34px;
    }

    .title2 {
        font-size: 27px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 1.27;
    }

    .menu__toggle-text {
        display: none;
    }

    .logo__img {
        max-width: 47px;
        max-height: 43px;
        object-fit: contain;
    }

    .logo__text {
        display: none;
    }

    .header__content {
        padding: 23px 0;
    }

    .header__menu {
        margin-left: 15px;
    }

    .header__callback {
        display: none;
    }

    .header__instagram {
        display: none;
    }

    .index__banner {
        margin-top: 28px;
    }

    .index__services {
        margin-top: 80px;
    }

    .index__stages {
        margin-top: 80px;
    }

    .index__clients {
        margin-top: 75px;
    }

    .index__callback {
        margin-top: 75px;
    }

    .banner {
        background-position: top 85px right -10px;
    }

    .banner__content {
        flex-direction: column;
    }

    .banner__inf {
        order: 3;
        padding-top: 22px;
    }

    .banner__mobile-header {
        display: block;
    }

    .banner__subtitle {
        display: none;
        margin-bottom: 28px;
    }

    .banner__subtitle_mobile {
        display: block;
    }

    .banner__btn {
        margin-top: 32px;
    }

    .services {
        overflow: hidden;
    }

    .services__slider {
        overflow: visible;
        padding-bottom: 60px;
    }

    .services__slider.swiper-horizontal .swiper-scrollbar {
        bottom: 12px;
        left: 10px;
    }

    .services__title {
        text-align: center;
        margin-bottom: 38px;
    }

    .service {
        padding-left: 30px;
        padding-right: 30px;
    }

    .stages__title {
        text-align: center;
    }

    .stages__list {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .stages__item {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .stage {
        text-align: center;
    }

    .stage__icon-box {
        margin: 0 auto;
        justify-content: center;
        width: 45px;
        height: 40px;
    }

    .stage__header {
        display: inline-flex;
        margin-top: 20px;
    }

    .stage__title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .stage__text {
        font-size: 15px;
    }

    .about__content {
        flex-direction: column;
        padding-top: 80px;
    }

    .about__right {
        padding-top: 50px;
    }

    .about__title {
        text-align: center;
    }

    .about__text {
        margin-top: 32px;
        font-size: 20px;
        text-align: center;
    }

    .about__item {
        font-size: 14px;
    }

    .about__item:before {
        margin-right: 13px;
    }

    .about__btn {
        display: block;
        margin: 55px auto 0;
    }

    .clients__title {
        text-align: center;
    }

    .clients__main {
        padding-left: 0;
    }

    .clients__list {
        margin-left: 0;
        margin-right: 0;
    }

    .clients__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .message {
        background-position: center center;
        background-size: auto;
    }

    .message__content {
        padding-top: 55px;
        padding-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    .message__title {
        text-align: center;
    }

    .message__btn {
        margin-top: 32px;
    }

    .callback__main {
        flex-direction: column;
        margin-top: 30px;
    }

    .callback__inf {
        padding-left: 0;
        margin-right: 0;
        flex-basis: auto;
    }

    .callback__subtitle,
    .callback__link {
        font-size: 20px;
    }

    .callback__form {
        padding-top: 0;
        margin-top: 55px;
    }

    .callback-form__group_area:not(:first-child) {
        margin-top: 65px;
    }

    .callback-form__privacy {
        font-size: 14px;
        line-height: 1.54;
    }

    .callback-form__submit {
        margin-top: 35px;
    }

    .footer {
        padding-bottom: 50px;
    }

    .footer__main {
        flex-wrap: wrap;
    }

    .footer__menu {
        margin-top: 25px;
        order: 3;
        width: 100%;
        justify-content: center;
    }

    .footer__menu-item:not(:last-child) {
        margin-right: 12px;
    }
}

@media (max-width: 540px) {
}

@media (max-width: 340px) {
    .subtitle {
        font-size: 18px;
    }

    .callback-form__privacy {
        font-size: 13px;
    }

    .footer__copyright {
        font-size: 10px;
    }
}
